<span id="follow_unfollow_link_<%= target_user.id %>">
  <% if target_user.followers.include?(current_user) %>
    <%= link_to "ð„‚", unfollow_path(user_id: target_user.id), data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "âœ“", follow_path(user_id: target_user.id), data: { turbo_method: :post } %>
  <% end %>
</span>





