<%= turbo_frame_tag 'link_logout' do %>
  <div style="width: 200px; height: 200px; position: fixed; float: left; display: block">
    <%= link_to  "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
  </div>
<% end %>
