<div id="<%= dom_id chat_message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User send message: <%= chat_message.user_send_message.email %> | <%= chat_message.created_at.strftime('%d-%m-%Y - %H:%M') %></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= chat_message.message %>
  </p>
</div>
